html, body {
    height: 100%;
}
body {
    /* white background */
    background-color: #222222;
    background: rgb(25,38,85); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(25,38,85,1) 0%, rgba(20,20,20,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(60,100,140,1)), color-stop(100%,rgba(20,20,20,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(25,38,85,1) 0%,rgba(20,20,20,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(25,38,85,1) 0%,rgba(20,20,20,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(25,38,85,1) 0%,rgba(20,20,20,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(25,38,85,1) 0%,rgba(20,20,20,1) 100%); /* W3C */

    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
#webgl_container {
    z-index: 10;
    overflow:hidden;
    background-color: #d3d3d3; /* Light gray for container backgrounds */
    color: #333; /* Darker gray for text */
    border: 1px solid #cccccc; /* Slightly darker gray for borders */
}
#canvasContainer {
    z-index: 50;
    opacity: 0.5;
    width:292px;
    position:absolute;
    top: 0px;
    /*right: 0px;
	padding:5px;
	overflow:hidden;*/
    /*background: rgb(30,35,40);*/

    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    display: flex;
}
#canvasContainer:hover {
    opacity:1;
    background-color: #00000017; /* A shade darker on hover to add interaction feedback */
}
#canvasContainerRight { 
    z-index: 50;
    opacity: 0.5;
    width:auto;
    max-width: 100%;
    position:absolute;
    top: 0px;
    right: 0px;
    /*right: 0px;
	padding:5px;
	overflow:hidden;*/
    /*background: rgb(30,35,40);*/
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
#canvasContainerRight:hover {
    opacity:1;
}

img#myImage {
    width: 700px; /* Make the image scale to the width of its container */
    height: auto; /* Maintain the aspect ratio */
    display: none   /* Hide the image by default */
}
.drawingOutput {
    display:block;
    width: 100%;  /* Ensure it fills the parent container */

}
.board {
    width: 282px;
    height: 361px;
    padding-bottom:10px;
}
.tinyBoard {
    margin: 0 auto;
    background-color:#000;
    width: 28px;
    height: 28px;
    border: solid thin #ccc;
    overflow:hidden;
    float:right;
    
}


.instructions {
    color: #666666; /* Medium gray for readability and subtlety */
    font-size:24px;
    text-align:left;
    padding: 5px 0;
    background: linear-gradient(62deg, #8EC5FC 0%, #512DA8 100%); /* Purple gradient background */
    -webkit-background-clip: text; /* Applies the background styling only to the text (Webkit browsers) */
    background-clip: text;
    color: transparent; /* Makes the text color transparent to show the gradient */
    -webkit-text-fill-color: transparent; /* Specific for Webkit browsers */
}
.drawingOutput h3 {
    font-size: 1em; /* Smaller font size for headers */
    color: #333;
    margin-bottom: 2.5px; /* Less space below headers */
    background: linear-gradient(62deg, #8EC5FC 0%, #512DA8 100%); /* Purple gradient background */
    -webkit-background-clip: text; /* Applies the background styling only to the text (Webkit browsers) */
    background-clip: text;
    color: transparent; /* Makes the text color transparent to show the gradient */
    -webkit-text-fill-color: transparent; /* Specific for Webkit browsers */
}
.small_instr {
    font-size:12px;
}
.info {
    color: #666666; /* Medium gray for readability and subtlety */
    font-size:18px;
    text-align:right;
    float:left;
    height:37px;
    width:247px;
    line-height:30px;
    margin-right:5px;
}
.ans {
    font-size: 24px;
    color: #fff;
    margin: 0 auto;
    background-color:#000;
    width: 28px;
    height: 28px;
    border: solid thin #ccc;
    float:right;
    text-align:center;
}
.ans1 {
    flex: 1;
    font-size: 24px;
    color: #fff;
    margin: 0 auto;
    background-color:#000;
    width: 28px;
    height: 28px;
    border: solid thin #ccc;
    float:right;
    text-align: center;
  }
#infobox {
    width:300px;
    position:absolute;
    bottom:100px;
    left:100px;	
    color: #666666; /* Medium gray for readability and subtlety */

    
    opacity: 1;	
    
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    
    
    border: thin solid white;
    -webkit-user-select: none;
    padding: 0; 
    margin: 0;	
    
    /* box-shadow: 5px 5px 10px #000; */
}
/*
#infobox:hover {
    display:none;
}
*/
#nodeType {
    font-weight: bold;
    text-align: center;
    background-color: #def;	
    padding: 5px;
}
#imageInputContainer {
    background-color: #000;
    overflow:hidden;
    text-align:center;
}
#nodeInputContainer {
    background-color:#bcd;
    padding: 5px;
}
#calcContainer {	
    background-color:#9ab;
    padding: 5px;
}
#nodeOutput {
}
#nodeOutputContainer {
    background-color:#789;
    padding: 5px;
}
.label {
    float:left;
    margin-right: 5px;
}
.math {
}
#imageLabel {
    position:absolute;
    padding:5px;
    color:#fff;	
    text-shadow: 1px 1px #000;
}
#filterLabel {
    position:absolute;
    color:#fff;	
    padding:5px;
    text-shadow: 1px 1px #000;
}
#drawingInterface {	
    padding: 5px;
    margin-bottom: 5px;
    /* Subtle gradient from white to light gray */
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(251, 250, 218) 100%);
    border: 1px solid rgb(225, 225, 225); /* Light gray border */
    color: rgb(51, 51, 51); /* Dark gray for text */
}
#filterInterface {
    padding:5px;
    font-size:20px;
    color: #abc;
    background: rgb(30,35,40);
}
.settings {
    display: table;
    width: 100%;
}
.row {
    display: table-row;
}
.row1 {
    display: flex;
    justify-content: space-between;
    width: 100%;  /* Fit to parent width */
    font-size: 0.7em; /* Smaller text if needed */
    padding: 0; /* Reducing padding may help */
}
.cell {
    display: table-cell;
    vertical-align: middle;  
}
.settings .question,
.settings .switch {
    display: table-cell;
    vertical-align: middle;
    padding-bottom:5px;
    width:100%;
}
.settings .question {
    font-size: 18px;
}
input.cmn-toggle-yes-no + label {  
    width: 80px;
    height: 35px;
}
input.cmn-toggle-yes-no + label:before, input.cmn-toggle-yes-no + label:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
}
input.cmn-toggle-yes-no + label:before {
    background-color: rgb(40,50,60);
    content: attr(data-off);
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
input.cmn-toggle-yes-no + label:after {
    background-color: #333333;
    content: attr(data-on);
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
    
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
input.cmn-toggle-yes-no:checked + label:before {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
input.cmn-toggle-yes-no:checked + label:after {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
}
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
::-moz-selection { /* Code for Firefox */
    color: #FFFFFF;
    background: #990033;
}
::selection {
    color: #FFFFFF;
    background: #990033;
}
#filterImage {	
    overflow:hidden;
}
#inputImage {	
    overflow:hidden;
    
}
#linkback {
    position: absolute;
    bottom:0;
    right:0px;
    text-align: right;
    color:#fff;
    background: rgb(10,15,20);
    opacity:0.5;
    padding: 5px;
}
a {
    color:#06c;
}

/* Styles for the NSF logo and project ID */
#nsf-logo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px; /* Adjust width as needed */
    z-index: 1000;
}

#project-id {
    position: fixed;
    bottom: 30px;
    right: 250px; /* Adjust according to the logo width */
    color: #333; /* Adjust text color as needed */
    font-size: 14px; /* Adjust font size as needed */
    z-index: 1000;
}
.weight-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
button {
    background-color: #f0f0f0;
    border: 0.5px solid #ccc;
    padding: 6px 12px; /* Smaller padding to reduce button size */
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px; /* Smaller margin between buttons */
    white-space: normal; /* Allow line breaks */
    text-align: center; /* Center the text */
    flex-grow: 1; /* Ensure buttons fill the space evenly */
    font-size: 1em; /* Smaller text size within buttons */
}
button:last-child {
    margin-right: 0; /* No margin on the right for the last button */
}
button:hover {
    background-color: #e9e9e9;
}
/* Button Style */
.btn {
    background: #111;
    color: #fff;
    margin: 0.75em; /* Adjusted from 1em to 0.75em */
    border: none;
    transition: all 1s;
    padding: 0.75em 0em 0.75em 2.25em; /* Scaled padding */
    font-weight: 600;
    font-size: 1.125em; /* Scaled font size from 1.5em to 1.125em */
    letter-spacing: 0.0375em; /* Scaled letter spacing */
    border-radius: 1.5em; /* Scaled border radius */
    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 0.75em; /* Scaled height */
    width: 0;
    max-width: 0;
}

.btn i {
    position: absolute;
    left: 0.44em; /* Scaled position */
    top: 0.45em; /* Scaled position */
}

.btn i.fa {
    font-size: 0.5em; /* Scaled font size for icons */
}

.btn .text {
    display: inline-block;
    opacity: 0;
    transition: all 0.3s;
    transition-delay: 0s;
    min-width: 75px; /* Scaled min-width */
    transform: translateX(0.5em); /* Scaled translate X */
}

.btn.expand, .expand-on-hover:hover {
    padding: 0.75em 0em 0.75em 2.25em; /* Consistently scaled padding */
    max-width: 10em; /* Scaled max-width from 10em */
    width: auto;
}

.btn.expand .text, .expand-on-hover:hover .text {
    opacity: 1;
    transition-delay: 0.3s;
    min-width: inherit;
    transform: translateX(0);
}

.btn-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Spacing between groups of buttons */
}

  
  /* colors https://www.grabient.com/ */
  
  .pink {
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  }
  
  .purple {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  }
  
  .red {
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
  }
  
  /* icons */
.plus {
    height: 1.25em;
    width: 1.25em;
    border: 2px solid #fff;
    display: inline-block;
    border-radius: 2em;
    

  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 60%;
    top: 50%;
    left: 20%;
    margin-top: -1px;
    background: #fff;
  }
  &::before {
   transform:rotate(0deg);
  }
  &::after {
   transform:rotate(90deg);
  }
}

.plus.close {
    transform: scale(0.875) rotate(45deg); /* Adjusted scale */
    left: 0.4em; /* Adjusted left position */
    top: 0.45em; /* Adjusted top position */
}
  
.col {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center; /* Center items if needed */
  }
  
  .left {
    text-align: left;
  }
  
  .right {
    text-align: right;  
  }
  
  .info1 {
    text-align: center; /* Centering text */
    margin-bottom: 5px;
    font-size:18px;
    /* color: #666666; */
  }